<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :unit_id %><br>
    <%= f.collection_select :unit_id, Unit.all, :id, :name,class:'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :formula %><br>
    <%= f.text_area :formula ,class:'form-control',placeholder: 'The formula must contain the name or alias like this ex: (F - 32) * 5/9' %>
  </div>
  <div class="form-group">
    <%= f.label :converted_to_id %><br>
    <%= f.collection_select :converted_to_id, Unit.all, :id, :name,class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' ,class:'btn btn-primary' %>
  </div>
<% end %>
